<div class="col-md-4 col-md-offset-4">
  <h2>Still Not Working?</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

      <form role="form">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Resend instructions", class: 'btn btn-default' %>
        </div>
      <% end %>
      </form>

<br>

  <%= render "devise/shared/links" %>

</div>


<br><br>


<div class="row">
  <div class="col-md-5">
    <div class="text-center">
      <h1><strong>Kyle S. Kwon</strong></h1>
      <h3>Full Stack Web Developer</h3>
    </div>
  <br>
    <h3 class="text-center">Contact</h3>
  <br>
      <p>kyleskwon@gmail.com</p>
      <p>(310) 502­7624 </p>
      <p>kyleskwon.github.io (portfolio)</p>
      <p>linkedin.com/in/kyleskwon</p>
      <p>github.com/kyleskwon</p>
  <br>
    <h3 class="text-center">Skills</h3>
  <br>
    <div class="row">
      <div class="col-md-4 text-center">
        <p>Javascript</p>
      </div>
      <div class="col-md-4 text-center">
        <p>Ruby on Rails</p>
      </div>
      <div class="col-md-4 text-center">
        <p>Git</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <p>AngularJS</p>
      </div>
      <div class="col-md-4 text-center">
        <p>Bootstrap</p>
      </div>
      <div class="col-md-4 text-center">
        <p>Github</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <p>Firebase</p>
      </div>
      <div class="col-md-4 text-center">
        <p>AWS S3</p>
      </div>
      <div class="col-md-4 text-center">
        <p>Heroku</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <p>jQuery</p>
      </div>
      <div class="col-md-4 text-center">
        <p>HTML/CSS</p>
      </div>
      <div class="col-md-4 text-center">
        <p>Jekyll</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <p>Grunt</p>
      </div>
      <div class="col-md-4 text-center">
        <p>Adobe Lightroom</p>
      </div>
      <div class="col-md-4 text-center">
        <p>Adobe Premiere</p>
      </div>
    </div>
  <br>
      <h3 class="text-center">Education</h3>
  <br>
      <p>University of California, Berkeley</p>
      <p>Bachelor's Degree</p>
      <p>Bloc</p>
      <p>Full Stack Developer Track</p>
      <p>with mentorship</p>
  </div>
  <div class="col-md-7">
    <h3 class="text-center">Projects</h3>
    <h4>Auditory Angular</h4>
      <p>A music streaming service</p>
      <ul>
        <li>Refactored as a single page application in AngularJS</li>
        <li>Created and injected services that hold data and control behavior</li>
        <li>Wrote documentation for attributes, functions, and methods</li>
        <li>Designed user interface with Bootstrap and deployed with Heroku</li>
      </ul>
    <h4>OurDiary</h4>
      <p>Private memories and plans for couples</p>
      <ul>
        <li>Wrote user stories with technical requirements and tracked bug reports on Github Issues</li>
        <li>Integrated Google Maps API to display customized map from user input</li>
        <li>Used Ruby gems for user authentication, testing, payments, calendar and
images</li>
      </ul>
    <h4>seVen</h4>
      <p>A self­-destructing to­-do list</p>
      <ul>
        <li>Architected a single page application with AngularJS</li>
        <li>Synced with Firebase as a persistent backend using AngularFire methods</li>
        <li>Designed controllers to show tasks in intervals based on state and priority</li>
        <li>Utilized directives to attach Angular behavior to DOM elements</li>
      </ul>
    <h4>Yappit</h4>
      <p>A social networking service</p>
      <ul>
        <li>Implemented CRUD operations within MVC architectural pattern</li>
        <li>Used TDD and resourceful routing with HTTP request methods</li>
        <li>Validated user input and assigned roles with access rights</li>
        <li>Polymorphically associated labels with topics and posts</li>
        <li>Ranked posts using time­decay algorithm</li>
      </ul>
    <h3 class="text-center">Employment</h3>
      <p>Instructor and Trainer, Chungdahm Learning</p>
      <p>Seoul, South Korea | ​2013 ­ 2015</p>
        <ul>
          <li>Taught critical thinking skills for standardized testing</li>
          <li>Provided constructive feedback for 20+ incoming instructors</li>
        </ul>
      <p>Interactive Marketing Intern, UBM Electronics</p>
      <p>San Francisco, California | ​Spring 2012</p>
        <ul>
          <li>Analyzed web analytics to track and measure real­time success</li>
        </ul>
  </div>
</div>
