<% @page_title = " | BucketList" %>

  <% content_for :google_maps do %>
    <script>
      $(document).ready(function() {
        console.log("loaded!");
        <% @item_markers.each do |marker| %>
          setMarker(<%= marker[:lat] %>, <%= marker[:long] %>, "<%= marker[:title] %>");
        <% end %>
      });
    </script>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-4" align="right">
        <%= link_to memories_path, class: 'btn btn-info' do %>
          <i class="glyphicon glyphicon-book"> OurMemories</i>
        <% end %>
      </div>
      <div class="col-md-4" align="center">
        <%= link_to plans_path, class: 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-list-alt"> OurPlans</i>
        <% end %>
      </div>
      <div class="col-md-4" align="left">
        <%= link_to items_path, class: 'btn btn-warning' do %>
          <i class="glyphicon glyphicon-globe"> BucketList</i>
        <% end %>
      </div>
    </div>

  <h1 align="center">BucketList</h1>
    <div class="col-md-8 col-md-offset-2">
      <p>You have <%= current_user.total_items_count %> items in your BucketList, why not add another?</p>
        <%= link_to 'Add an Item', new_item_path, class: 'btn btn-success' %>

        <form role="form">
          <div class="form-group", align="right">
            <%= form_tag(memories_path, :method => "get", id: "search-form") do %>
              <div class="input-append">
                <%= text_field_tag :search, params[:search], class: "btn btn-default", placeholder: "Search Items" %>
                <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
                     of using a Rails form helper -->
                <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            <% end %>
          </div>
        </form>
      </div>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <!-- <thead>
          <tr>
            <th>Title</th>
            <th>Caption</th>
            <th colspan="3"></th>
          </tr>
        </thead> -->

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= link_to item.title, item %></td>
              <td><%= link_to item.caption.first(60), item %></td>
              <!-- <td><%= link_to 'Edit', edit_item_path(item) %></td> -->
              <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<br>
<br>
    <div class="col-md-6 col-md-offset-3">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @items.each_with_index do |item, index| %>
            <% active = "active" if index == 0 %>
            <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= active %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @items.each_with_index do |item, index| %>
            <% active = "active" if index == 0 %>
            <div class="item <%= active %>", align="center" >
              <%= image_tag item.avatar.url(:medium) %>
              <p class="item-title"><%= item.title %></p>
            </div>
          <% end %>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
<br>
<br>
