<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @item.caption %>
</p>

<p>
  <strong>Location or Address:</strong>
  <%= @item.address %>
</p>

<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-default' %>
<%= link_to 'Back', items_path, class: 'btn btn-default' %>
