<div class="container">
  <%= form_for(@homebase) do |f| %>
    <% if @homebase.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@homebase.errors.count, "error") %> prohibited this email from being saved:</h2>

        <ul>
        <% @homebase.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <form role="form">
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    </form>
  <% end %>
</div>
