<% @page_title = " | HomeBase" %>

<% content_for :google_maps do %>
  <script>
    $(document).ready(function() {
      console.log("loaded!");
      <% @memory_markers.each do |marker| %>
        setMarker(<%= marker[:lat] %>, <%= marker[:long] %>, "<%= marker[:title] %>");
      <% end %>
      <% @plan_markers.each do |marker| %>
        setMarker(<%= marker[:lat] %>, <%= marker[:long] %>, "<%= marker[:title] %>");
      <% end %>
      <% @item_markers.each do |marker| %>
        setMarker(<%= marker[:lat] %>, <%= marker[:long] %>, "<%= marker[:title] %>");
      <% end %>
    });

  </script>
<% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-4" align="right">
        <%= link_to memories_path, class: 'btn btn-info' do %>
          <i class="glyphicon glyphicon-book"> OurMemories</i>
        <% end %>
      </div>
      <div class="col-md-4" align="center">
        <%= link_to plans_path, class: 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-list-alt"> OurPlans</i>
        <% end %>
      </div>
      <div class="col-md-4" align="left">
        <%= link_to items_path, class: 'btn btn-warning' do %>
          <i class="glyphicon glyphicon-globe"> BucketList</i>
        <% end %>
      </div>
    </div>
  </div>
<br />
    <div class="col-md-6 col-md-offset-3">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active", align="center">
            <img src="/system/memories/avatars/000/000/022/medium/IMG_3765.jpg?1454475184" alt="Tarsier Monkey">
          </div>
          <div class="item", align="center">
            <img src="/system/memories/avatars/000/000/023/medium/IMG_4941.jpg?1454475527" alt="Petronas Towers">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
