<% @page_title = " | OurMemories" %>

<% content_for :google_maps do %>
  <script>
    function initialize() {
      console.log("initializing!");
      var mapProp = {
        center:new google.maps.LatLng(30, 30),
        zoom: 2,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
      var marker = new google.maps.Marker({
        position: {lat: 18.7953, lng: 98.9986},
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
<% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-4" align="right">
        <%= link_to memories_path, class: 'btn btn-info' do %>
          <i class="glyphicon glyphicon-book"> OurMemories</i>
        <% end %>
      </div>
      <div class="col-md-4" align="center">
        <%= link_to plans_path, class: 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-list-alt"> OurPlans</i>
        <% end %>
      </div>
      <div class="col-md-4" align="left">
        <%= link_to items_path, class: 'btn btn-warning' do %>
          <i class="glyphicon glyphicon-globe"> BucketList</i>
        <% end %>
      </div>
    </div>

  <h1 align="center">OurMemories</h1>
    <div class="col-md-8 col-md-offset-2">
      <% if current_user.total_memories_count < Memory::MEMORY_COUNT_FOR_UPGRADE  %>
        <p>Only <%= Memory::MEMORY_COUNT_FOR_UPGRADE - current_user.total_memories_count %> memories left for a free upgrade!</p>
      <% end %>
      <% if current_user.total_memories_count >= Memory::MEMORY_COUNT_FOR_UPGRADE  %>
        <p>You have <%= current_user.total_memories_count %> memories, keep making more!</p>
      <% end %>
        <%= link_to 'Add a Memory', new_memory_path, class: 'btn btn-success' %>

      <form role="form">
        <div class="form-group", align="right">
          <%= form_tag(memories_path, :method => "get", id: "search-form") do %>
            <div class="input-append">
              <%= text_field_tag :search, params[:search], class: "btn btn-default", placeholder: "Search Memories" %>
              <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
                   of using a Rails form helper -->
              <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          <% end %>
        </div>
      </form>
    </div>
<br>
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <!-- <thead>
          <tr>
            <th>Title</th>
            <th>Caption</th>
            <th colspan="3"></th>
          </tr>
        </thead> -->
        <tbody>
          <% @memories.each do |memory| %>
            <tr>
              <td><h6><%= link_to memory.date, memory %></h6></td>
              <td><h4><%= link_to memory.title, memory %></h4></td>
              <td><h5><%= link_to memory.caption.first(60), memory %></h5></td>
              <!-- <td><%= link_to 'Edit', edit_memory_path(memory) %></td> -->
              <td><h6><%= link_to 'Delete', memory, method: :delete, data: { confirm: 'Are you sure?' } %></h6></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>
<br>
  <div class="col-md-6 col-md-offset-3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active", align="center">
          <img src="/system/memories/avatars/000/000/022/medium/IMG_3765.jpg?1454475184" alt="Tarsier Monkey">
        </div>
        <div class="item", align="center">
          <img src="/system/memories/avatars/000/000/023/medium/IMG_4941.jpg?1454475527" alt="Petronas Towers">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<br>
<br>
  <div class="container">
    <div class="row">
      <script>$(document).ready(function() {
          // page is now ready, initialize the calendar...
          $('#calendar').fullCalendar({
              // put your options and callbacks here
          })
      });
      </script>
    </div>
<br>
    <div id='calendar'></div>
  </div>
