<% @page_title = " | OurMemories" %>

<% content_for :google_maps do %>
  <script>
    function initialize() {
      console.log("initializing!");
      var mapProp = {
        center:new google.maps.LatLng(30, 30),
        zoom: 2,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
      var marker = new google.maps.Marker({
        position: {lat: 18.7953, lng: 98.9986},
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-4" align="center">
      <%= link_to "OurMemories", memories_path, class: 'btn btn-info' %>
    </div>
    <div class="col-md-4" align="center">
      <%= link_to "OurPlans", plans_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-4" align="center">
      <%= link_to "BucketList", items_path, class: 'btn btn-warning' %>
    </div>
  </div>

<br>

  <h1 align="center">OurMemories</h1>

  <table class="table table-hover">
    <!-- <thead>
      <tr>
        <th>Title</th>
        <th>Caption</th>
        <th colspan="3"></th>
      </tr>
    </thead> -->
    <tbody>
      <% @memories.each do |memory| %>
        <tr>
          <td><%= link_to memory.title, memory %></td>
          <td><%= link_to memory.caption.first(60), memory %></td>
          <!-- <td><%= link_to 'Edit', edit_memory_path(memory) %></td> -->
          <td><%= link_to 'Delete', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <% if current_user.total_memories_count < Memory::MEMORY_COUNT_FOR_UPGRADE  %>
      <p>Only <%= Memory::MEMORY_COUNT_FOR_UPGRADE - current_user.total_memories_count %> memories left for a free upgrade!</p>
    <% end %>

    <%= link_to 'Add a Memory', new_memory_path, class: 'btn btn-success' %>
<br>
<br>
<br>
    <script>$(document).ready(function() {
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            // put your options and callbacks here
        })
    });
    </script>

  <div id='calendar'></div>
</div>
