<p>
  <strong>Date:</strong>
  <%= @memory.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @memory.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @memory.caption %>
</p>

<p>
  <strong>City:</strong>
  <%= @memory.address %>
</p>

<p>
  <strong>Label:</strong>
  <%= @memory.label %>
</p>

<p>
  <%= image_tag @memory.avatar.url(:medium) %>
</p>

<%= link_to 'Edit', edit_memory_path(@memory), class: 'btn btn-default' %>
<%= link_to 'Back', memories_path, class: 'btn btn-default' %>
<br>
<br>
<br>
<br>
