<div class="row">
  <div class="col-md-4" align="center">
    <%= link_to "OurMemories", memories_path, class: 'btn btn-info' %>
  </div>
  <div class="col-md-4" align="center">
    <%= link_to "OurPlans", plans_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-md-4" align="center">
    <%= link_to "BucketList", items_path, class: 'btn btn-warning' %>
  </div>
</div>

<br>

<h1 align="center">OurPlans</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to plan.title, plan %></td>
        <td><%= link_to plan.caption, plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a Plan', new_plan_path, class: 'btn btn-success' %>

<br>
<br>
<br>

<div id='calendar'></div>
<script>$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })
});</script>
