<% @page_title = " | OurPlans" %>

  <% content_for :google_maps do %>
    <script>
      $(document).ready(function() {
        console.log("loaded!");
        <% @plan_markers.each do |marker| %>
          setMarker(<%= marker[:lat] %>, <%= marker[:long] %>, "<%= marker[:title] %>");
        <% end %>
      });
    </script>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <% if @previous %>
          <%= link_to "Previous", @previous, class: 'btn btn-default' %>
        <% end %>
      </div>
      <div class="col-md-2 col-md-offset-1" align="right">
        <% if @next %>
          <%= link_to "Next", @next, class:'btn btn-default', align: "right" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p>
          <h3 align="center"><%= @plan.title %>
            <p><small>(<%= @plan.date %>) | <%= @plan.address %></small></p>
            </h3>
        </p>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="text-justify" word-wrap="break-word">
              <blockquote><h5><%= @plan.caption %></h5></blockquote>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
              <%= render partial: "labels/list", locals: { labels: @plan.labels } %>
          </div>
        </div>
        </div>

          <div class="col-md-7" align="center">
            <% if @plan.avatar.file? %>
              <%= image_tag @plan.avatar.url(:medium) %>
            <% else %>

            <% end %>
          </div>
        </div>
<br>
    <%= link_to 'Edit', edit_plan_path(@plan), class: 'btn btn-default' %>
    <%= link_to 'Delete', plan_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', plans_path, class: 'btn btn-default' %>
<br>
<br>
  </div>
