<div class="row">
  <div class="col-md-6">
    <p>
      <h3 align="center"><%= @plan.title %> <small>(<%= @plan.date %>) | <%= @plan.address %></small></h3>
    </p>
<br>
    <p>
      <h5 align="center"><%= @plan.caption %></h5>
    </p>
  </div>
  <div class="col--md-6" align="center">
    <p>
      <%= image_tag @plan.avatar.url(:medium) %>
    </p>
  </div>
</div>
<br>
<%= link_to 'Edit', edit_plan_path(@plan), class: 'btn btn-default' %>
<%= link_to 'Back', plans_path, class: 'btn btn-default' %>
<br>
<br>
<br>
<br>
