<p>
  <strong>Date:</strong>
  <%= @plan.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @plan.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @plan.caption %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan), class: 'btn btn-default' %>
<%= link_to 'Back', plans_path, class: 'btn btn-default' %>
